


/* This is for product */

/* This is Product */
.product-card {
    height: 100%;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.image-wrapper {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-wrapper:hover img {
    transform: scale(1.05);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.95rem;
    color: #555;
}

button.btn {
    margin-top: auto;
    font-size: 0.9rem;
}

